<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>5.姓名案例_watch实现</title>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script>
			// computed和watch之间的区别：
			// 	1.computed能完成的功能，watch都可以完成
			// 	2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作(如setTimeout)
			// 两个重要的小原则：
			// 	1.被Vue管理的函数，最好写成普通函数，这样this的指向才是vm或组件实例对象
			// 	2.不被Vue所管理的函数（定时器的回调函数、ajax的回调函数等、Promise的回调函数），最好写成箭头函数，
			//    这样this的指向才是vm或组件实例对象
	</script>
</head>

<body>
	<div id="root">
		姓：<input type="text" v-model="firstName"> <br /><br />
		名：<input type="text" v-model="lastName"> <br /><br />
		全名：<span>{{fullName}}</span> <br /><br />
	</div>
</body>

<script type="text/javascript">
	Vue.config.productionTip = false

	const vm = new Vue({
		el: '#root',
		data: {
			firstName: '张',
			lastName: '三',
			fullName: '张-三'
		},
		watch: {
			// 可以将newValue用val替换
			firstName(val) {
				// 修改框中数据后1S后全名才发生变化
				setTimeout(() => {
					this.fullName = val + '-' + this.lastName
				}, 1000);
			},
			lastName(val) {
				this.fullName = this.firstName + '-' + val
			}
		}
	})
</script>

</html>